body {
  background-color: rgba(0,0,0,0);
  height:100%;
  width:100%;
  margin:0px;
  padding:0px;
  display:flex;
  flex-direction:column;
}


div {
}

table {
    margin:0px;
    padding:0px;
    border-spacing: 0;
}

table tr td {
    /*border: 1px solid blue;*/
    margin:0px;
    padding:0px;
}

.background_glow {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -2;
    background: url(coui://ui/main/game/new_game/img/background_lobby.png) center center no-repeat transparent;
    opacity: .6;
}

.section_title {
    height: 40px;
    text-align: center;
    font-size: 28px;
    font-family: 'Sansation Bold';
    text-transform: uppercase;
    text-shadow: 0px 0px 20px #00B3FF;
    position: relative;
    z-index: 2;
    border-bottom: 14px solid rgba(0,0,0,.2);
}

.section_content {
    height:calc(100% - 188px); /*TO ACCOMODATE UBER BAR*/
    width:100%;
    padding: 0px 17px 10px 0px; /*TO ACCOMODATE OFFSET OF SECOND PANEL*/
    display:flex;
    flex-direction:column;
    align-content:flex-start;
    /*justify-content:center;*/
    background:rgba(0,0,0,.6);
    border:1px solid rgba(255,255,255,.1);
    border-width:1px 0px;
    position:relative;
}

.background_bar {
    background: rgba(0,0,0,.6);
    height:100%;
    width:100%;
    left:0;
    right:0;
    border:1px solid rgba(255,255,255,.1);
    border-width:1px 0px;
    position:absolute;
    z-index:-1;
    box-shadow:0px 0px 100px #000;
}


.section_content_table {
    height: 100%;
    width: calc(100% - 20px); /* TO FACTOR IN SIDE BUFFERS */
    min-height: 520px;
    min-width: 1240px;
    max-width: 1500px;
    margin: 0px auto;
    vertical-align: top;
    border-image: url('coui://ui/main/game/new_game/img/panel_std.png') 21 25 25 21 fill;
    border-width: 21px 25px 25px 21px;
    position: relative;
}

        .section_content table tbody {
            vertical-align: top;
        }

            .section_content table tbody tr td.header {
                height: 10px;
            }

            .section_content table tbody tr td.col_1 {
                width: 320px;
                padding: 0px 12px 0px 0px;
                /*border-right: 1px solid #333;*/
                /*width: 24%;*/
            }

            .section_content table tbody tr td.col_2 {
                /*padding:0px 10px 0px 10px;*/
                /*background:#333;*/
            }

            .section_content table tbody tr td.commit {
                height: 100px;
                padding: 10px 0px 0px;
            }
