/*@charset utf-8;*/

/* CSS Document */

@font-face {
    font-family: "DINPRO-LIGHT";
    src: url('font/DINPRO-LIGHT.TTF');
}

@font-face {
    font-family: "Trebuchet MS";
    src: url('font/trebuc.ttf');
}

@font-face {
    font-family: "Trebuchet MS Italic";
    src: url('font/trebucit.ttf');
}

@font-face {
    font-family: "Trebuchet MS Bold";
    src: url('font/trebucbd.ttf');
}

@font-face {
    font-family: "Trebuchet MS Bold Italic";
    src: url('font/trebucbi.ttf');
}

@font-face {
    font-family: "Glyphicons Halflings";
    src: url('font/glyphicons-halflings-regular.ttf');
}


@font-face {
    font-family: 'Sansation Regular';
    src: url('font/Sansation_Regular-webfont.svg') format('svg'), url('font/Sansation_Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sansation Light';
    src: url('font/Sansation_Light-webfont.svg') format('svg'), url('font/Sansation_Light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sansation Bold';
    src: url('font/Sansation_Bold-webfont.svg') format('svg'), url('font/Sansation_Bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sansation Bold TTF';
    src: url('font/Sansation_Bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Armata Regular';
    src: url('font/Armata-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Droid Sans Mono';
    src: url('font/DroidSansMono-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    display: none;
}

body {
    height: 100%;
    width: 100%;
    background-image: url('../img/backgrounds/img_bground_galaxy_01.png');
    background-size: cover;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 1em;
    font-size: 12px;
    font-family: 'Armata Regular';
    text-shadow: 0px 0px 10px rgba(255,255,255,.20);
    -webkit-user-select: none;
}

input[type="text"] {
    -webkit-user-select: text;
}

input[type="button"], input[type="submit"], button.btn-default {
    background: #0D0D0D;
    border-radius: 0px;
    box-shadow: inset 0px 0px 8px rgba(255,255,255,.50);
    border: 1px solid #666;
    color: white;
    text-transform: none;
    font-family: 'Sansation Bold';
    font-size: 14px;
    padding: 8px 12px;
}


    input[type="button"]:hover, input[type="submit"]:hover, .button:hover {
        background: #262626;
        border: 1px solid rgba(255,255,255,1);
    }


    input[type="button"]:active, input[type="submit"]:active {
        background: #000;
        border: 1px solid rgba(255,255,255,1);
    }


    input[type="button"]:disabled, input[type="submit"]:disabled {
        border: 1px solid rgba(255,255,255,.1);
        background: black;
        color: #666;
        text-shadow: none;
        box-shadow: none;
    }


    input[type="button"].btn_commit_grn {
        background: #007800;
        border-radius: 0px;
        box-shadow: inset 0px 0px 8px rgba(255,255,255,.50);
        border: 1px solid #B2B2B2;
        color: white;
    }



        input[type="button"].btn_commit_grn:hover {
            background: #008C00;
            border-radius: 0px;
            box-shadow: inset 0px 0px 8px rgba(255,255,255,.50);
            border: 1px solid #0F0;
            color: white;
        }

        input[type="button"].btn_commit_grn:active {
            background: #005000;
            border-radius: 0px;
            box-shadow: inset 0px 0px 8px rgba(255,255,255,.50);
            border: 1px solid #0F0;
            color: white;
        }

input[type="text"], input[type="password"] {
    border: 1px solid #4D4D4D;
    color: #fff;
    box-shadow: inset 0px 0px 10px #000;
    padding: 4px;
    background: #2E2E2E;
    font-family: 'Armata Regular';
}


    input[type="text"]:disabled, input[type="password"]:disabled {
        border: 1px solid rgba(255,255,255,.1);
        background: black;
        color: #666;
        text-shadow: none;
        box-shadow: none;
    }

input.input-text-req-focus {
    border: 1px solid #4D4D4D;
    color: #999;
    text-shadow: none;
    box-shadow: none;
    padding: 4px;
    background: none;
    font-family: 'Armata Regular';
}

    input.input-text-req-focus:hover {
        border: 1px solid #fff;
    }

    input.input-text-req-focus:focus {
        border: 1px solid #4D4D4D;
        color: #fff;
        text-shadow: none;
        box-shadow: inset 0px 0px 10px #000;
        padding: 4px;
        background: #2E2E2E;
        font-family: 'Armata Regular';
    }

input[type="radio"], input[type="checkbox"] {
    margin: 4px 3px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}


button[type="submit"] {
    background: #007800;
    border-radius: 0px;
    box-shadow: inset 0px 0px 8px rgba(255,255,255,.50);
    border: 1px solid #B2B2B2;
    color: white;
    font-family: 'Sansation Bold';
    padding: 8px 12px;
    text-transform: uppercase;
}


    button[type="submit"]:hover {
        background: #008C00;
        border-radius: 0px;
        box-shadow: inset 0px 0px 8px rgba(255,255,255,.50);
        border: 1px solid #0F0;
        color: white;
    }


    button[type="submit"]:active {
        background: #005000;
        border-radius: 0px;
        box-shadow: inset 0px 0px 8px rgba(255,255,255,.50);
        border: 1px solid #0F0;
        color: white;
    }


    button[type="submit"]:disabled {
        border: 1px solid rgba(255,255,255,.1);
        background: black;
        color: #666;
        text-shadow: none;
        box-shadow: none;
    }

select {
    border: 1px solid rgba(255,255,255,1);
    background: black;
    color: #fff;
    text-shadow: none;
    box-shadow: none;
    text-transform: capitalize;
}


    select:disabled {
        border: 1px solid rgba(255,255,255,.1);
        background: black;
        color: #666;
        text-shadow: none;
        box-shadow: none;
    }





.body_live_game {
    background: none;
}

.body_panel {
    background: none;
    display: inline-block;
    width: auto;
    height: auto;
}

table {
    border-collapse: collapse;
    padding: 0;
}

td {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    vertical-align: top;
    position: relative;
}

tr {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

th {
    font-weight: normal;
}


input, select {
    font-family: DIN Medium;
}


a {
    color: #59D0FF;
    text-decoration: none;
    text-shadow: none;
}

    a:hover {
        color: #59D0FF;
        text-decoration: none;
        text-shadow: none;
    }

    a:disabled {
        color: gray;
        text-decoration: none;
        text-shadow: none;
    }

    a.disabled {
        color: gray;
        text-decoration: none;
        text-shadow: none;
    }

ul {
    display: block;
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

li {
    margin: 0 0 8px;
}

label {
    cursor: pointer;
    margin: 0px;
}

iframe {
    border: 1px solid rgba(30,122,161,1);
    box-shadow: 0px 0px 200px rgba(30,122,161,.5);
    background: #000;
}

/*----- SCROLLBAR
-----------------------------------------------------------------*/

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    background: rgba(100,100,100,0.4);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

    ::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(100,100,100,0.4);
    }


/*----- GLOBAL
-----------------------------------------------------------------*/

#page {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
}


#div_copyright {
    width: 100%;
    font-size: 0.7em;
    color: #666;
    position: absolute;
    bottom: 4px;
    text-align: center;
}

.body_light {
    font-family: 'Armata Regular';
}

.body_background_table {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: absolute;
    color: rgba(255,255,255,0);
    border-width: 227px 0px 118px 894px;
    border-image: url(../img/backgrounds/img_bground_frame.png) 227 0 118 894;
    z-index: -10000;
}

.fill {
    background: rgba(0,0,0,.6);
}

.div_body_cont {
    background: rgba(0,0,0,0);
    padding: 64px 10px 10px;
    /*
    margin:50px 0px 0px 0px;
    position:relative;
    */
    border: 0px;
    border-width: 1px 0px;
    bottom: 0px;
    top: 0px;
    position: absolute;
    width: 100%;
}

.div_body_cont_outer {
    background: rgba(0,0,0,.7);
    border: 1px solid #333;
    border-width: 1px 0px;
    position: absolute;
    top: 50px;
    bottom: 50px;
    right: 0px;
    left: 0px;
    padding: 10px;
}

.div_body_cont_inner {
    height: 100%;
    width: 100%;
    position: relative;
}

.div_body_centered_cont {
    width: 1024px;
    margin: 4px auto 0px;
}

.div_body_overlay {
    bottom: 0;
    height: 100%;
    position: absolute;
    width: 100%;
}

.div_back_btn {
    margin: 0px 0px 8px 0px;
    float: left;
}

    .div_back_btn a {
        color: #00ffff;
    }

        .div_back_btn a:hover {
            text-decoration: underline;
        }

.primary_msg {
    font-family: 'Sansation Bold';
    color:#fff;
    text-shadow:0px 0px 20px rgba(0,179,255,.8);
    text-transform:none;
    font-size:26px;
}

.secondary_msg {
    color: #fff;
}

.td_item {
    padding: 4px;
}

.input_label {
    font-family: 'Armata Regular';
    font-size: 11px;
    color: #999;
    margin: 0 4px 0 0;
    text-transform: uppercase;
}

.input_label_icon {
}

.input_field_static {
    font-size: .7em;
    color: #fff;
}


.input_text {
    background: none;
    border: 1px solid #333;
    color: #FFF;
    margin: 0px 10px 4px 0;
    padding: 4px;
}

.link_div_btn {
    height: 100%;
    width: 100%;
    display: block;
}

.link_div_btn_lbl {
    display: block;
    font-size: 1em;
    color: #0ff;
    padding: 6px;
    text-transform: uppercase;
}

.text_disabled {
    color: gray;
    text-shadow: none;
}

.text_link_btn {
    color: #00ffff;
    text-decoration: none;
    font-family: 'DINPRO-LIGHT';
}

    .text_link_btn:hover {
        text-decoration: underline;
    }

.text_link_btn_small {
    font-size: .80em;
}

.div_section_body {
    background: #000;
    box-shadow: rgba(255, 255, 255,.4 ) 0px 0px 40px;
}

.img_progress_icon {
    margin: 0px 0px 0px 0px;
}

.div_alert {
    font-size: 1.3em;
}

#connecting .div_alert {
    display:flex;
}

.msg_progress_icon {
    display: inline-block;
    font-family: 'Sansation Bold';
    font-size: 24px;
    margin-left: 10px;
    margin-top: 7px;
}

.msg_error {
    color: red;
    font-size: .8em;
}

.loading_msg {
    width: 100%;
    text-align: center;
    padding: 4px;
    border: 1px solid #333;
    background: black;
}

.img_loading_animation {
    display: block;
    margin: 10px auto;
    border-radius: 4px;
}

.btn_ready {
    width: 250px;
}

/*----- 
-----------------------------------------------------------------*/


.panel_std {
    border-width: 45px 75px 84px 75px;
    border-image: url(../img/panel/img_panel_std_black.png) 45 75 84 75 fill;
    padding: 10px 0px 0px;
}





/*----- CONTROLS
-----------------------------------------------------------------*/
.btn_std {
    border-width: 10px 21px 21px 21px;
    border-image: url(../img/buttons/btn_lrg_std.png) 10 21 21 21 fill;
    display: inline-block;
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: white;
    background-color: transparent;
}

.modal-footer .btn_std {
    width: auto;
    text-transform: uppercase;
    font-family: 'Sansation Bold';
    font-size: 16px;
    padding: 0px 10px;
}

.btn_std:hover {
    border-width: 10px 21px 21px 21px;
    border-image: url(../img/buttons/btn_lrg_std_hover.png) 10 21 21 21 fill;
    -webkit-transition: .3s;
}

.btn_std:active {
    border-width: 10px 21px 21px 21px;
    border-image: url(../img/buttons/btn_lrg_std_active.png) 10 21 21 21 fill;
    box-shadow: inset 500px 500px 500px 500px #000;
}

.btn_hero {
    border-width: 10px 21px 21px 21px;
    border-image: url(../img/buttons/btn_lrg_hero.png) 10 21 21 21 fill;
    display: inline-block;
    font-size: 14px;
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
    text-align: center;
}

    .btn_hero:hover {
        border-width: 10px 21px 21px 21px;
        border-image: url(../img/buttons/btn_lrg_hero_hover.png) 10 21 21 21 fill;
        display: inline-block;
        -webkit-transition: .3s;
    }

    .btn_hero:active {
        border-width: 10px 21px 21px 21px;
        border-image: url(../img/buttons/btn_lrg_hero_active.png) 10 21 21 21 fill;
        display: inline-block;
    }

.btn_neg {
    border-width: 10px 21px 21px 21px;
    border-image: url(../img/buttons/btn_lrg_neg.png) 10 21 21 21 fill;
    display: inline-block;
    font-size: 14px;
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
    text-align: center;
}

    .btn_neg:hover {
        border-width: 10px 21px 21px 21px;
        border-image: url(../img/buttons/btn_lrg_neg_hover.png) 10 21 21 21 fill;
        display: inline-block;
        -webkit-transition: .3s;
    }

    .btn_neg:active {
        border-width: 10px 21px 21px 21px;
        border-image: url(../img/buttons/btn_lrg_neg_active.png) 10 21 21 21 fill;
        display: inline-block;
    }

    .btn_std:disabled, .btn_hero:disabled, .btn_neg:disabled, .btn_std.disabled, .btn_hero.disabled, .btn_neg.disabled {
        border-width: 10px 21px 21px 21px;
        border-image: url(../img/buttons/btn_lrg_std.png) 10 21 21 21 fill;
        opacity: .2;
    }

.btn_std_disabled, .btn_std_disabled:hover, .btn_std_disabled:active,
.btn_hero_disabled, .btn_hero_disabled:hover, .btn_hero_disabled:active {
    border-width: 10px 21px 21px 21px;
    border-image: url(../img/buttons/btn_lrg_std.png) 10 21 21 21 fill;
    opacity: .3;
}

.btn_std_gray {
    border-width: 44px 17px 0px 17px;
    border-image: url('../img/buttons/btn_std_gray.png') 44 17 0 17 fill;
    display: inline-block;
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
    margin: 0px -8px 0px 0px;
}


.btn_std_label {
    font-family: 'Sansation bold';
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    margin: -35px 0px 0px 0px;
    color: #fff;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, .5);
}

    .btn_std_label.down {
        margin: 0px 0px 0px 0px;
    }

.btn_std_gray:hover {
    border-width: 44px 17px 0px 17px;
    border-image: url('../img/buttons/btn_std_gray_hover.png') 44 17 0 17 fill;
    -webkit-transition: .3s;
}

.btn_std_gray:active {
    border-width: 44px 17px 0px 17px;
    border-image: url('../img/buttons/btn_std_gray_active.png') 44 17 0 17 fill;
}

.btn_std_gray_disabled {
    border-width: 44px 17px 0px 17px;
    border-image: url('../img/buttons/btn_std_gray.png') 44 17 0 17 fill;
    display: inline-block;
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
    margin: 0px -8px 0px 0px;
    opacity: .3;
}



.btn_label {
    font-family: 'Sansation Bold';
    font-size: 20px;
    text-transform: uppercase;
    margin: 0px 0px;
    text-align: center;
    text-shadow: 0px 0px 20px rgba(0, 179, 255, 0.3);
}


.btn_hero .btn_label, .btn_hero_disabled .btn_label {
    width: auto;
}

    .btn_hero .btn_label.big, .btn_hero_disabled .btn_label.big {
        width: 300px;
    }



.btn_back {
    height: 74px;
    width: 82px;
    background: url(../img/buttons/btn_back.png) top center no-repeat;
    /*position:absolute;
    top:15px;
    left:15px;*/
    float: left;
    z-index: 2;
    -webkit-transition: .3s;
    margin:-14px 0px 0px -14px;
}

    .btn_back:hover {
        background: url(../img/buttons/btn_back_hover.png) top center no-repeat;
    }

    .btn_back:active {
        background: url(../img/buttons/btn_back_active.png) top center no-repeat;
    }

.btn_back_small {
    height: 30px;
    width: 40px;
    font-family: "Sansation Bold";
    font-size: 32px;
    text-align: center;
    background: #0b1a1f;
    border: 1px solid #1e7aa1 !important;
    margin: 10px 16px 0px 0px;
    box-shadow: 0px 0px 20px #1e7aa1 !important;
}

    .btn_back_small .carat {
        float: left;
        margin:-15px 0px 0px 10px;
    }

.control_chevron_auto {
    height: 6px;
    width: 8px;
    display: inline-block;
    background: url(../img/controls/icon_chevron_auto.png) top center no-repeat;
    margin: 0px 8px 0px 0px;
}


/*----- HEADER BAR (FOR SYS EDITOR AND LIVE GAME PLANET SMASHING)
-----------------------------------------------------------------*/

.div_header_bar, .div_celestial_control_bar {
    text-align: left;
    margin: -12px auto 0px;
    min-width: 1270px;
    max-width: 1500px;
    border-image: url(../img/header_bar/img_header_bar.png) 19 46 46 46 fill;
    border-width: 19px 46px 46px 46px;
}

.header_bar_cont, .div_celestial_control_bar_cont {
    width: 100%;
    margin: 0px auto -26px;
    padding: 0px 10px;
}

    .header_bar_cont .title {
        font-size: 17px;
        font-family: 'Sansation Bold';
        vertical-align: middle;
        background: -webkit-linear-gradient(#fff, #999);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .header_bar_cont input[type="button"] {
        font-size: 12px;
    }


/*----- VERSION INFO
-----------------------------------------------------------------*/
.div_version_info_cont {
    font-family: 'Sansation Bold';
    margin: 10px 10px 10px 10px;
    width: auto;
    height: auto;
}

.div_pre_game_cont {
    width: 900px;
    margin: 0px auto 0px;
}

.div_pre_game_cont_new_game {
    height: 100%;
    width: 1024px;
    margin: 4px auto 0px;
}

.div_pre_game_header {
    margin: 0 0 20px;
}

.div_section_title {
    font-size: 1.0em;
    font-weight: bold;
    margin: 0 0 8px;
    color: #4D9292;
}


.div_footer_bar {
}

/*----- UNIT DETAIL HOVER
-----------------------------------------------------------------*/

#div_hover_short {
}

#div_hover_long {
    margin: 4px 0px 0px 0px;
}

.hover_stats {
    color: #fff;
    font-size: 1em;
    text-align: left;
}

#hover_unit_name {
    font-family: 'Armata Regular';
    text-transform: uppercase;
    font-size: .8em;
}

#hover_unit_cost {
    height: 20px;
    font-family: 'Droid Sans Mono';
    color: #fff;
    background: url(../img/status_bar/icon-status-metal.png) top left no-repeat;
    float: right;
    padding-left: 23px;
    background-size: 19px 16px;
    background-position-y: 2px;
}

#hover_unit_description {
    font-family: 'DINPRO-LIGHT';
    font-size: 12px;
    margin-top: 4px;
    line-height: 1.1em;
}

.div_left_bar {
    position: absolute;
    left: 10px;
    top: 25%;
    bottom: 25%;
    text-align: center;
}

/*----- Tabs
-----------------------------------------------------------------*/

.tab_grp_body {
    display: block;
    background: none;
    padding: 4px 4px;
    margin: -8px 0px 0px 0px;
}

.sys_editor_tabs {
    margin: -4px 0px 0px 0px;
}

.editor_tab {
    margin: auto;
}

/*----- Hot keys
-----------------------------------------------------------------*/

.span_hotkey {
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    color: #00b3ff;
    border: 1px solid #00b3ff;
    background: rgba(0,0,0,.8);
    padding: 2px 4px;
    font-family: 'Armata Regular';
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0px 0px 2px #000;
    pointer-events: none;
    -webkit-animation: fadeout;
    -webkit-transition: .3s ease-out;
}

.span_hotkey_cmd {
    bottom: 1px;
}

.span_hotkey_tab {
    height: 16px;
    position: absolute;
    top: 4px;
    left: 77px;
    padding: 0px 4px;
}

/*----- SCOREBOARD UI
-----------------------------------------------------------------*/
.div_scoreboard {
    width: 1024px;
    margin: 0px auto;
    position: relative;
}

.div_scoreboard_cont {
}

.div_scoreboard_title {
    margin: 19px 0 20px;
    width: 100%;
}

    .div_scoreboard_title .primary_msg {
        background: -webkit-linear-gradient(#FFF, #999);
        font-size: 26px;
        font-weight: 700;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .div_scoreboard_title .secondary_msg {
        color: #fff;
    }

.div_scoreboard_data {
}

.tbl_scoreboard {
    font-size: 1em;
    text-align: center;
    vertical-align: center;
}

    .tbl_scoreboard .td_group {
        border: 1px solid #fff;
        border-width: 1px 1px 0;
        font-size: 1.2em;
        font-weight: 700;
        padding: 8px 0;
    }

    .tbl_scoreboard .td_category {
        width: 120px;
        padding: 8px 0;
        font-size: .8em;
    }

    .tbl_scoreboard .td_name {
        padding: 4px 0;
        text-align: left;
        width: 200px;
    }

    .tbl_scoreboard .td_item {
        padding: 4px 0;
    }

    .tbl_scoreboard .tr_totals {
        font-weight: 700;
    }

.div_non_perf_stats {
    margin: 20px 0;
}

.btn_toolbar {
    font-family: 'Sansation Regular';
    font-size: 14px;
    margin: 0px 0px;
    padding: 4px 10px;
}

input.btn_back {
    font-size: 1.7em;
    font-weight: bold;
    padding: 0px 12px 7px;
    border-radius: 2px;
    border-width: 2px;
    line-height: 1em;
}

    input.btn_back:hover {
        border-width: 2px;
    }

    input.btn_back:active {
        border-width: 2px;
    }



.btn_commit {
    font-size: 1em;
    margin: 10px 0px;
    padding: 20px 30px;
}

.btn_commit_left {
    float: left;
    display: block;
}



/* CONSOLE */
#consoleDiv {
    background: #000;
    height: 300px;
    width: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 999;
    display: none;
    color: #fff;
    text-align: left;
    background: url('../img/console_bg.jpg');
}

#consoleWindow {
    width: 95%;
    margin: 5px auto 5px auto;
    background-color: rgba(0,0,0,0.5);
    height: 240px;
    padding: 8px;
    font-size: 9pt;
    font-family: courier;
}

    #consoleWindow pre {
        height: 240px;
        white-space: pre-wrap;
        overflow: scroll;
        overflow-x: hidden;
        margin: 0px;
    }

#consoleInput {
    margin: 5px;
    margin-left: 24px;
    width: 96%;
}

.console-wrapper {
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    background-color: rgba(0,0,0,0.2);
}

/* required for backalley resize / overflow listeners */
.resize-sensor, .resize-sensor > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.input_capture {
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 2147483647;
}

/*----- PANEL
-----------------------------------------------------------------*/

.panel_cont {
    margin: 0px 0px 0px 0px;
    position: relative;
}

.panel_cont_orbit_editor {
}

.panel_title {
    font-size: 1.1em;
    margin: 0px 0px 10px 0px;
    font-weight: bold;
}

.panel_controls {
    text-shadow: 0px 2px 2px black;
}

.div_panel_controls {
    text-align: right;
    float: right;
}


.div_commit_buttons_cont {
    margin: 10px 0;
    text-align: right;
    width: 100%;
    border-top: 1px solid #333;
}

.btn_panel {
    padding: 4px 10px;
    margin: 10px 0px 0px 0px;
}


.ui-slider-horizontal {
    height: .4em;
}

    .ui-slider-horizontal .ui-slider-handle {
        top: -.4em;
        margin-left: -.6em;
    }

.div_settings_control_input .ui-widget-content {
    background: rgba(0,255,255,.5);
    border: 1px solid #00ffff;
}

.div_settings_control_input .ui-slider-horizontal .ui-slider-range-max {
    right: 0;
    background: #333;
    border: 1px solid #444;
    margin height:8px;
}


/*------------ Popup overlay 
-----------------------------------------------------------*/
.div_popup_overlay {
    background-color: rgba(0,0,0,.8);
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 20;
}

.div_popup {
    width: 100%;
    position: absolute;
    top: 300px;
    text-align: center;
}

.div_popup_panel {
    top: 100px;
    text-align: center;
    width: 500px;
    background: rgba(0, 0, 0, 0.98);
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: inline-block;
    font-family: 'Sansation Bold';
    font-size: 24px;
    color: #fff;
    text-shadow: 0px 0px 20px #00b3ff;
    box-shadow:0px 0px 100px #000;
    padding:0;
}

    .div_popup_panel .interior {
        height:100%;
        width:100%;
        box-shadow: inset 0px 0px 30px rgba(255,255,255,.1);
        padding: 20px;
    }

.div_popup_primary_msg {
}

.div_popup_secondary_msg {
    font-family: 'Armata Regular';
    font-size: .9em;
    color: #fff;
}

.div_popup_panel .commit {
    margin: 16px 0px 0px 0px;
}

/*----- CHAT
-----------------------------------------------------------------*/

.chat_player_name {
    color: #00FF00;
}

.chat_msg {
    color: #fff;
}

/* LIST ANIMATIONS */

.btn_std_ix {
    color: #00B3FF;
    text-shadow: 0px 0px 10px #00B3FF;
    border: 1px solid transparent;
    box-shadow: none;
    cursor: default;
    -webkit-animation: fadeout;
    -webkit-transition: .3s ease-out;
}

    .btn_std_ix:hover {
        color: #FFFFFF;
        text-shadow: 0px 0px 10px #FFFFFF;
        background: #1E7AA1;
        border: 1px solid #00B3FF;
        box-shadow: inset 0px 0px 10px #00B3FF;
        -webkit-animation: none;
        -webkit-transition: none;
    }

    .btn_std_ix:active {
        color: #FFFFFF;
        text-shadow: 0px 0px 10px #FFFFFF;
        background: #1e7aa1;
        border: 1px solid #00B3FF;
        box-shadow: inset 0px 0px 10px #00B3FF;
    }

        .btn_std_ix_active {
        color: #FFFFFF;
        text-shadow: 0px 0px 10px #FFFFFF;
        background: #1e7aa1;
        border: 1px solid #00B3FF;
        box-shadow: inset 0px 0px 10px #00B3FF;
    }




@-webkit-keyframes fadeout {
    to {
        background: #1E7AA1;
        border: 1px solid #00B3FF;
        color: #fff;
        text-shadow: 0px 0px 10px rgba(255,255,255,.5);
    }

    from {
        background: none;
        border: 1px solid transparent;
        border-bottom: 1px solid rgba(0,179,255,.05);
        box-shadow: none;
        color: inherit;
        text-shadow: inherit;
    }
}

@-webkit-keyframes window_appear {
    from {
        opacity:0;
    }

    to {
        opacity:1;
    }
}

@-webkit-keyframes uifadein {
    from {
        opacity:0;
    }

    to {
        opacity:1;
    }
}


/* Bootstrap modifications */
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: none;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: transparent;
}

.btn, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: inherit;
    background-color: inherit;
    border-color: inherit;
    font-family: "Sansation Bold";
}


.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
}

.dropdown-menu > li > a:hover {
    color: #FFFFFF;
    text-shadow: 0px 0px 10px #FFFFFF;
    background: #1E7AA1;
    border: 1px solid #00B3FF;
    box-shadow: inset 0px 0px 10px #00B3FF;
    -webkit-animation: none;
    -webkit-transition: none;
}

.dropdown-menu > li > a:focus {
    color: #FFFFFF;
    text-shadow: 0px 0px 10px #FFFFFF;
    background: #00B3FF;
    border: 1px solid #00B3FF;
    box-shadow: inset 0px 0px 10px #00B3FF;
}


.dropdown-menu > li > a {
    display: block;
    padding: 8px;
    clear: both;
    font-weight: normal;
    /*line-height: 1.428571429;*/
    color: #333333;
    white-space: nowrap;
    color: #fff;
    text-shadow: 0px 0px 10px #00B3FF;
    border: 1px solid transparent;
    box-shadow: none;
    cursor: default;
    -webkit-animation: fadeout;
    -webkit-transition: .3s ease-out;
}





/*BOOT TABS*/

.nav {
    margin: 0px 0px 0px 0px;
}

.nav-pills > li > a {
    position: relative;
    display: block;
    margin: 0px 0px -8px;
    padding: 0px 0px;
    border-radius: 0px;
    text-decoration: none;
    border-image: url(coui://ui/main/shared/img/tabs/img_tab_std_rest.png) 12 12 8 11 fill;
    border-width: 12px 12px 8px 11px;
    text-transform: uppercase;
    color: #fff;
    font-family: "Sansation Bold";
    background: none;
}

    .nav-pills > li > a:hover {
        text-decoration: none;
        border-image: url(coui://ui/main/shared/img/tabs/img_tab_std_hover.png) 12 12 8 11 fill;
        border-width: 12px 12px 8px 11px;
        background: none;
    }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    text-decoration: none;
    border-image: url(coui://ui/main/shared/img/tabs/img_tab_std_active.png) 12 12 8 11 fill;
    border-width: 12px 12px 8px 11px;
    background: none;
    text-shadow: 0px 0px 20px rgb(0, 179, 255);
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 0px 10px;
}

    .nav > li > a:hover, .nav > li > a:focus {
        text-decoration: none;
    }

.nav-tabs {
    height: 43px;
    border: none;
    border-bottom: 1px solid #808080;
    padding: 4px 0px 0px 0px;
}

    .nav-tabs > li > a {
        position: relative;
        display: block;
        margin: 0px 0px -8px;
        padding: 0px 0px;
        border-radius: 0px;
        text-decoration: none;
        border-image: url(coui://ui/main/shared/img/tabs/img_tab_std_rest.png) 12 12 8 11 fill;
        border-width: 12px 12px 8px 11px;
        text-transform: uppercase;
        color: #fff;
        font-family: "Sansation Bold";
        background: none;
        font-size: 13px;
        text-shadow: 0px 0px 20px rgb(0, 179, 255);
    }

        .nav-tabs > li > a:hover {
            color: #fff;
            text-decoration: none;
            border-image: url(coui://ui/main/shared/img/tabs/img_tab_std_hover.png) 12 12 8 11 fill;
            border-width: 12px 12px 8px 11px;
            background: none;
            text-shadow: 0px 0px 20px rgb(0, 179, 255);
        }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        color: #fff;
        text-decoration: none;
        border-image: url(coui://ui/main/shared/img/tabs/img_tab_std_active.png) 12 12 8 11 fill;
        border-width: 12px 12px 8px 11px;
        background: none;
        text-shadow: 0px 0px 20px rgb(0, 179, 255);
    }



/* JQUERY modifications */

.ui-dialog {
    border-width: 45px 75px 84px 75px;
    border-image: url(../img/panel/img_panel_std_black.png) 45 75 84 75 fill;
    padding: 16px 0px 0px 0px;
}

.ui-dialog {
    border-image:none;
    background: rgba(0,0,0,1);
    box-shadow: inset 0px 0px 30px rgba(255,255,255,.1);
    border: 1px solid rgba(255,255,255,.15);
    padding: 16px;
}

.ui-widget-content {
    background: #000;
}

    .ui-widget-content a {
        color: #00b3ff;
    }

    .ui-widget-content a:hover {
        text-decoration:underline;
    }


.ui-widget-header {
    background: none;
}

/*.ui-dialog .ui-dialog-buttonpane button {
    margin: .5em .4em .5em 0;
    cursor: pointer;
    font-family: 'Sansation Bold';
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid #666;
    padding: 10px 20px;
    background: #0d0d0d;
    color: #fff;
    box-shadow: inset 0px 0px 10px #666;
}
*/

.ui-dialog .ui-dialog-buttonpane {
    padding: 0px;
}

    .ui-dialog .ui-dialog-buttonpane button {
        margin: 0 0 0 .4em;
        cursor: pointer;
        font-family: 'Sansation Bold';
        font-size: 16px;
        text-transform: uppercase;
        border: 1px solid #666;
        padding: 4px 16px;
        background: rgba(0,0,0,0);
        color: #fff;
        border-width: 10px 21px 21px 21px;
        border-image: url(../img/buttons/btn_lrg_std.png) 10 21 21 21 fill;
    }

        .ui-dialog .ui-dialog-buttonpane button:hover {
            border-width: 10px 21px 21px 21px;
            border-image: url(../img/buttons/btn_lrg_std_hover.png) 10 21 21 21 fill;
        }

        .ui-dialog .ui-dialog-buttonpane button:active {
            border-width: 10px 21px 21px 21px;
            border-image: url(../img/buttons/btn_lrg_std_active.png) 10 21 21 21 fill;
        }

.ui-widget-overlay {
    background: rgba(0,0,0,.8);
}

.modal-content {
    background-color: #000;
    border-radius: 0px;
    border: 1px solid #4a4a4a;
}

.modal-header .close {
    color: white;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.modal-title {
    text-transform: uppercase;
    font-size: 24px;
    font-family: "Sansation Bold";
}

#content-tabs {
    float: left;
}






*:focus {
    outline: none;
}

panel {
    visibility: hidden;
}

/* WINDOW CONTROLS */

.div-win {
    box-shadow: 0px 4px 12px #000;
}

.div-win-ctrl-bar {
    height: 10px;
    margin: 0px 4px 12px 0px;
}

.btn_win {
    opacity: .3;
}

    .btn_win:hover {
        opacity: 1;
    }

    .btn_win:active {
        opacity: .8;
    }

.btn_win_close {
    height: 16px;
    width: 16px;
    background: url(../img/window_controls/btn_close_10.png) center center no-repeat;
}

.btn_win_min {
    height: 16px;
    width: 16px;
    background: url(../img/window_controls/btn_win_min.png) center center no-repeat;
}

.btn_win_max {
    height: 16px;
    width: 16px;
    background: url(../img/window_controls/btn_win_min.png) center center no-repeat;
}

.btn_win_more {
    height: 16px;
    width: 16px;
    background: url(../img/window_controls/btn_more_8.png) center center no-repeat;
}

.btn-separator {
    height: 16px;
    width: 1px;
    background: #444;
    margin: 0px 4px;
    display: inline-block;
}

.select-green {
    background: #005000;
    border-color: #0F0;
    -webkit-box-shadow: inset 0 0 8px rgba(0, 255, 0, 0.8);
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.tooltip {
    position: absolute;
    z-index: 1030;
    display: block;
    font-size: 14px;
    line-height: 1;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: visible;
    font-family: 'Armata Regular';
    font-size:11px;
    line-height:1.4;
}

    .tooltip.in {
        opacity: 1;
        filter: none;
    }

    .tooltip.top {
        padding: 5px 0;
        margin-top: -3px;
    }

    .tooltip.right {
        padding: 0 5px;
        margin-left: 3px;
    }

    .tooltip.bottom {
        padding: 5px 0;
        margin-top: 3px;
    }

    .tooltip.left {
        padding: 0 5px;
        margin-left: -3px;
    }

.tooltip-inner {
    max-width: 200px;
    padding: 6px 8px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background-color: #000000;
    border-radius: 0px;
    box-shadow: 0px 0px 30px rgba(0,179,255,.5);
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-top-color: #000000;
    border-width: 5px 5px 0;
}

.tooltip.top-left .tooltip-arrow {
    bottom: 0;
    left: 5px;
    border-top-color: #000000;
    border-width: 5px 5px 0;
}

.tooltip.top-right .tooltip-arrow {
    right: 5px;
    bottom: 0;
    border-top-color: #000000;
    border-width: 5px 5px 0;
}

.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-right-color: #000000;
    border-width: 5px 5px 5px 0;
}

.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-left-color: #000000;
    border-width: 5px 0 5px 5px;
}

.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-bottom-color: #000000;
    border-width: 0 5px 5px;
}

.tooltip.bottom-left .tooltip-arrow {
    top: 0;
    left: 5px;
    border-bottom-color: #000000;
    border-width: 0 5px 5px;
}

.tooltip.bottom-right .tooltip-arrow {
    top: 0;
    right: 5px;
    border-bottom-color: #000000;
    border-width: 0 5px 5px;
}

.stat_num {
    font-family: 'Trebuchet MS';
}

.fade {
    opacity: 0;
    -webkit-transition: none;
    transition: none;
}

.full_screen {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    overflow: hidden;
}

.div_panel_bar_background {
    width: 100%;
    position: relative;
    box-shadow: 0px 0px 100px #000;
    text-align: center;
    background-color: rgba(0,0,0,.5);
}

.div_panel_primary_msg {
    height: 56px;
    width: 100%;
    background: url(coui://ui/main/game/game_over/img/bground_summary.png) center center no-repeat rgba(0,0,0,.7);
    font-family: 'Sansation Bold';
    font-size: 40px;
    color: #fff;
    border: 1px solid rgba(255,255,255,.15);
    border-width: 1px 0px;
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 50px #000;
    padding: 8px 0px 0px 0px;
}

.div_panel_primary_msg .transit {
    font-size: 24px;
}

.div_options_bar {
    width: 100%;
    background: rgba(0,0,0,.6);
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 10px 0px;   
    min-height:40px;
}

    .div_options_bar.secondary_msg {
        font-family: 'Sansation Bold';
        font-size: 16px;
    }

.div_bottom_margin_bar {
    height: 20px;
    width: 100%;
    background: rgba(0,0,0,.3);
}
