#systems, #planets {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
}

.title {
    white-space: nowrap;
}

.tab-wrapper {
    height: calc(100% - 20px);
    width: 100%;
    overflow: auto;
    margin: 8px 0px;
    display: flex;
    justify-content: center;
    position: absolute;
}


.one-planet {
    width: 247px;
    height: 180px;
    float: left;
    margin: 0;
    padding: 10px;
}

.one-planet img.biome {
        height: 100px;
        width: 100px;
    }


.one-system, .one-planet {
    width: 234px;
    float: left;
    margin: 10px 10px;
    padding: 0px 0px;
    position: relative;
    border: 1px solid rgba(20, 122, 161, 0.5);
    box-shadow: 0px 0px 50px rgba(0, 179, 255, 0.1);
    display: flex;
    flex-direction: column;
    -webkit-animation: tile_fadeout;
    -webkit-transition: .3s ease-out;
    position:relative;
}

    .one-system:hover, one-planet:hover {
        color: #FFFFFF;
        text-shadow: 0px 0px 10px #FFFFFF;
        border-color: #00B3FF;
        box-shadow: 0px 0px 50px rgba(0, 179, 255, 0.5);
        -webkit-animation: none;
        -webkit-transition: none;
    }

    .one-system:active {
        color: #FFFFFF;
        text-shadow: 0px 0px 10px #FFFFFF;
        background: #00B3FF;
        border-color: #00B3FF;
        box-shadow: 0px 0px 50px rgba(0, 179, 255, 1);
    }

.one_system_selected {
    width: 234px;
    float: left;
    margin: 10px 10px;
    padding: 0px 0px;
    position: relative;
    border: 1px solid rgba(20, 122, 161, 0.5);
    box-shadow: 0px 0px 50px rgba(0, 179, 255, 0.1);
    display: flex;
    flex-direction: column;
    background: #1E7AA1;
    border-color: #00B3FF;
    box-shadow: inset 0px 0px 10px #00B3FF;
}

.one-system img.icon {
    height: 300px;
    width: 300px;
    margin-top: 30px;
    margin-left: 30px;
}

.system-title-grp {
    width:100%;
    position: absolute;
}

.system-title {
    font-family: "Sansation Bold";
    font-size: 16px;
    background: rgba(0, 179, 255, 0.2);
    color: rgb(0, 179, 255);
    text-shadow: 0px 0px 20px rgb(0, 179, 255);
    color: rgb(255, 255, 255);
    padding: 8px 8px;
    line-height: 1.2;
}

.system-thumb {
    height: 220px;
    background:url('coui://ui/main/game/load_planet/img_system_thumb_background.png') bottom center no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
    .system-thumb .position {
        height: 200px;
        overflow: hidden;
    }

@-webkit-keyframes tile_fadeout {
    to {
        background: #1E7AA1;
        border-color: #00B3FF;
        color: #fff;
        text-shadow: 0px 0px 10px rgba(255,255,255,.5);
    }

    from {
        background: none;
        border-color: transparent;
        box-shadow: none;
        color: inherit;
        text-shadow: inherit;
    }
}

.link_delete {
    position: absolute;
    left: 230px;
}