html, body {
    height: 100%;
    position: relative;
    min-width: 1280px;
    min-height: 720px;
    overflow:hidden;
}

@-webkit-keyframes slide_to_right_1 {
    0% {
        left: 0px;
    }

    100% {
        left: 340px;
    }
}

#logo_slide_top {
    -webkit-animation-name: slide_to_right_1;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes slide_to_right_2 {
    0% {
        left: -200px;
    }

    100% {
        left: 0px;
    }
}

#logo_slide_bottom {
    -webkit-animation-name: slide_to_right_2;
    -webkit-animation-duration: 20s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

body {
    background-image: url('coui://ui/main/shared/img/backgrounds/img_bground_galaxy_01.png');
    background-size: cover;
}


#logo_menu {
    position: absolute;
    top: 4%;
    left: 10px;
    margin: 0px 0px -22px 11px;
}

#menu {
    margin: 3% 0 0 0;
    width: 333px;
    border-image: url(img/img_start_panel_black.png) 28 48 48 28 fill;
    border-width: 28px 48px 48px 28px;
    z-index: 1000;
}

#menu_cont {
    height: auto;
    width: auto;
    position: relative;
    margin: -10px -20px 0px 0px;
    padding: 0px 0px;
    font-family: 'Sansation Bold';
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(40,40,40,1)), color-stop(30%,rgba(20,20,20,1)), color-stop(100%,rgba(20,20,20,1)));
}

#pa_logo {
    height: 88px;
    width: 393px;
    background: url(coui://ui/main/shared/img/logos/img_pa_logo_start_rest.png) top center no-repeat;
    margin: 0px 0px -10px 11px;
}

    /*#pa_logo:hover {
        background: url(coui://ui/main/shared/img/logos/img_pa_logo_start_hover.png) top center no-repeat;
    }

    #pa_logo:active {
        background: url(coui://ui/main/shared/img/logos/img_pa_logo_start_active.png) top center no-repeat;
    }*/


#player-display-name, #login {
    width: auto;
    margin: 10px;
}

#player-display-name {
    font-size: 24px;
    word-wrap: break-word;
    line-height: 1;
    padding-top: 10px;
    color:#00b3ff;
    text-shadow:0px 0px 25px rgba(0,179,255,.3);
}

#sign_out {
    font-size: 11px;
    font-family: "Armata Regular";
}

#login input {
    width: 100%;
}

#navigation_panel {
    width: 290px;
    border-image: url(img/btn_start_menu_bottom_rest.png) 10 17 22 14 fill;
    border-width: 10px 17px 22px 14px;
    margin: 0px 0px 0px 3px;
}

#navigation_items {
    margin: -9px 0px 0px 0px;
}

    #navigation_items li,
    #nav_settings, .nav_item {
        border-image: url(img/btn_start_menu_rect_rest.png) 10 14 18 14 fill;
        border-width: 10px 14px 18px 14px;
        margin: 0px -17px -12px -14px;
        display: block;
    }

        #navigation_items li:hover,
        #nav_settings:hover, .nav_item:hover {
            border-image: url(img/btn_start_menu_rect_hover.png) 10 14 18 14 fill;
            border-width: 10px 14px 18px 14px;
        }

        #navigation_items li:active #nav_settings:active, .nav_item:active {
            border-image: url(img/btn_start_menu_rect_active.png) 10 14 18 14 fill;
            border-width: 10px 14px 18px 14px;
        }

.nav_item_disabled, .nav_item_disabled:hover, .nav_item_disabled:active {
    border-image: url(img/btn_start_menu_rect_rest.png) 10 14 18 14 fill;
    border-width: 10px 14px 18px 14px;
    margin: 0px -17px -12px -14px;
    display: block;
    opacity: .5;
}

.nav_item_text {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    background: -webkit-linear-gradient(#fff, #D3D3D3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: .8px;
    padding: 6px;
    display: block;
}

.nav_item_text_disabled {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    background: #3F3F3F;
    -webkit-background-clip: text;
    -webkit-text-fill-color: none;
    letter-spacing: .8px;
    padding: 6px;
    display: block;
}

.nav_sub_item {
    position: absolute;
    left: 277px;
    top: -10px;
}

.nav_sub_item .nav_item {
    min-width: 260px;
    position: relative;
    white-space: nowrap;
}

#navigation_items li.bottom,
#nav_quit {
    border-image: url(img/btn_start_menu_bottom_rest.png) 10 17 22 14 fill;
    border-width: 10px 17px 22px 14px;
    margin: 0px -17px -22px -14px;
}

    #navigation_items li.bottom:hover,
    #nav_quit:hover {
        border-image: url(img/btn_start_menu_bottom_hover.png) 10 17 22 14 fill;
        border-width: 10px 17px 22px 14px;
    }

    #navigation_items li.bottom:active,
    #nav_quit:active {
        border-image: url(img/btn_start_menu_bottom_active.png) 10 17 22 14 fill;
        border-width: 10px 17px 22px 14px;
    }

    #navigation_items li a,
    #nav_settings a,
    #nav_quit a {
        font-size: 16px;
        text-transform: uppercase;
        color: #fff;
        background: -webkit-linear-gradient(#fff, #a0a0a0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: .8px;
        display: block;
        margin: 6px;
    }

#nav_settings {
    width: 177px;
    display: inline-block;
}

#nav_quit {
    width: 125px;
    display: inline-block;
    float: right;
    margin: -1px -17px 0px 0px;
}

    #nav_quit a {
        display: block;
        margin: 7px 0px 3px 6px;
    }

#sidebar_bground {
    width: 410px;
    background: url(coui://ui/main/game/game_over/img/bground_summary.png) bottom center no-repeat rgba(0,0,0,.2);
    border: 1px solid rgba(255,255,255,.1);
    border-width: 0px 1px;
    position: absolute;
    top: 0px;
    right: 40px;
    bottom: 0px;
    z-index: 0;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 40px rgba(0,0,0,.6);
}


#sidebar {
    height: 100%;
    width: 100%;
    background: #111;
    box-shadow: inset 0px 0px 40px #333;
    z-index: 1000;
    margin: 0px 0px;
    padding: 0px 0px 0px 10px;
    border: 1px solid rgba(255,255,255,.2);
    border-width: 0px 1px;
    /*border-image: url(img/img_start_panel_community.png) 34 68 68 34 fill;
    border-width: 0px 68px 0px 34px;*/
}

#sidebar_cont {
    margin: 16px 0px 0px 0px;
    height: 100%;
}

#sidebar .stats {
    position: absolute;
    text-align: right;
    width: 300px;
    top: 0;
    left: -315px;
}

    #sidebar .stats li {
    }

    #sidebar .stats .stat {
        font-size: 2.0em;
        font-weight: bolder;
        color: white;
    }

    #sidebar .stats .description {
        font-size: 0.75em;
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
    }

#sidebar .tab-content {
    padding: 0px;
    font-family: 'Armata Regular';
    font-size: 12px;
    overflow-y: scroll;
    height: 100%;
}

#sidebar .footer {
    text-align: center;
}

#updates p {
    padding: 20px;
    border: 1px solid #3F3F3F;
    border-width: 0px 0px 1px 0px;
}

#updates {
    overflow-y: scroll;
    text-shadow:none;
}

#commander {
    position: absolute;
    bottom: 30px;
    left: 0;
}

.div_watermarks {
    position: absolute;
    bottom: 40px;
    left: 10px;
    font-size: .9em;
    text-align: left;
}

.div_patchnotes_toggle {
    position: absolute;
    top: 20px;
    right: 24px;
    font-size: .9em;
    text-align: left;
}

.div_notes_watermark {
    height: 32px;
    width: 32px;
    display: block;
    background: url(img/img_notes_logo_rest.png) top center no-repeat;
    background-size: 32px 32px;
}

    .div_notes_watermark:hover {
        background: url(img/img_notes_logo_hover.png) top center no-repeat;
        background-size: 32px 32px;
    }

.div_kickstarter_watermark {
    height: 32px;
    width: 32px;
    display: block;
    background: url(img/img_kickstarter_logo_rest.png) top center no-repeat;
    background-size: 32px 32px;
}

    .div_kickstarter_watermark:hover {
        background: url(img/img_kickstarter_logo_hover.png) top center no-repeat;
        background-size: 32px 32px;
    }

    .div_kickstarter_watermark img {
    }

.div_uber_watermark {
    height: 44px;
    width: 32px;
    background: url(img/img_uber_logo_rest.png) top center no-repeat;
    background-size: 32px 44px;
    margin: 0px 0px 0px 0px;
}

    .div_uber_watermark:hover {
        background: url(img/img_uber_logo_hover.png) top center no-repeat;
        background-size: 32px 44px;
    }

    .div_uber_watermark img {
        width: 40px;
    }

.div_help_watermark {
    height: 44px;
    width: 32px;
    background: url(img/img_help_rest.png) top center no-repeat;
    background-size: 32px 44px;
    margin: 0px 0px 0px -3px;
}

    .div_help_watermark:hover {
        background: url(img/img_help_hover.png) top center no-repeat;
        background-size: 32px 44px;
    }

    .div_help_watermark img {
        width: 40px;
    }

#tooltip_watermark01 {
    width: 300px;
    display: block;
    margin: -26px 0px 0px 40px;
    display: none;
}

#tooltip_watermark01 {
    width: 300px;
    display: block;
    margin: -26px 0px 0px 40px;
    display: none;
}

#tooltip_watermark02 {
    width: 300px;
    display: block;
    margin: -29px 0px 0px 40px;
    display: none;
}

#tooltip_watermark03 {
    width: 300px;
    display: block;
    margin: -29px 0px 0px 4040pxpx;
    display: none;
}


.div_news_video {
    width: auto;
    height: auto;
    text-align: center;
    overflow: hidden;
    /*position: fixed;
  bottom:128px;
  right:24px;*/
}

#transmission_message {
}

.div_uber_watermark img.mousedown {
}

#reconnectBtnGroup {
    padding: 20px;
}

#reconnect {
    margin: 8px;
}


/*----- LINK STEAM UI
-----------------------------------------------------------------*/

.div_account_cont {
    margin-top: 100px;
}

.div_create_link_form_cont {
    display: block;
}

.div_signin_link_form_cont {
    display: block;
}

.div_confirm_link_form_cont {
    display: block;
}

.div_send_email_form_cont {
    display: block;
}

.div_confirm_email_cont {
    display: block;
}

.div_create_account_cont {
    width: 600px;
    margin: 20px auto 0;
}

.div_account_form_lbl {
    font-size: 1em;
    text-transform: uppercase;
    color: #888;
    margin: 4px 8px 0 0;
}

.td_account_form_lbl {
    width: 160px;
    text-align: right;
}

.td_account_form_input {
    padding: 0 0 8px;
}

.input_account_form {
    width: 200px;
}

.account_form_error {
    margin: 4px 0 0 8px;
    display: block;
}


canvas {
    position: absolute;
}

.ytv-list .ytv-active a {
    border-left: none !important;
}

.body_background_table {
    /*border-image: none;*/
}

.video_background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1000;
}

#link-to-youtube { position:absolute; bottom:0px; right:0px; opacity:0.4; height:80px; width:120px; }

body > .version {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #fff; 
    font-size: 11px; 
    font-family: "Armata Regular";
    z-index: 1000;
}

body > .version.uberbar { 
    bottom: 45px;
}

.copyright {
    position: absolute; 
    bottom: 10px; 
    left: 10px; 
    color: #fff; 
    font-size: 11px; 
    font-family: "Armata Regular";
}


/* CREDITS */

.credits_wrapper {
    padding: 0;
}

    .credits_wrapper .ui-dialog {
        padding: 0px;
    }

    .credits_wrapper .ui-dialog-content {
        padding: 0px;
    }

        .credits_wrapper .ui-dialog-title {
            display: none;
        }

    .credits_wrapper .ui-dialog-titlebar-close {
        right: 4px;
        top: 4px;
        background-color: #000;
        z-index: 2;
    }

    .credits_wrapper .ui-dialog-titlebar {
        height: 0px;
        margin: 0px;
        padding: 0px;
    }


.top_trim {
    height: 10px;
    width: 100%;
    background: rgba(0,0,0,.5);
}

.main_bar {
    height: 100px;
    width: 100%;
    background: #000;
    box-shadow: inset 0px 0px 20px rgba(255,255,255,.1);
    border: 1px solid rgba(255,255,255,.15);
    border-width: 1px 0px;
    display: flex;
    align-items: center;
}

.secondary_bar {
    height: auto;
    width: 100%;
    background: rgba(0,0,0,.8);
    padding: 10px 0px;
    text-align: center;
}

.bottom_trim {
    height: 10px;
    width: 100%;
    background: rgba(0,0,0,.5);
}

/* PA CREDITS */
.div_credits_dialog {
    background: url('coui://ui/main/game/start/img/img_credits_bground_hover.png') no-repeat -9999px -9999px;
}

.div_credits_dialog .credits_bground {
    height: 588px;
    width: 100%;
    background: url('coui://ui/main/game/start/img/img_credits_bground.png') top center no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    -webkit-animation: fadeout;
    -webkit-transition: .10s ease-out;
    font-size: 16px;
    color: #00b3ff;
    text-shadow: 0px 0px 10px #00b3ff;
}

.div_credits_dialog .credits_bground:hover {
        background: url('coui://ui/main/game/start/img/img_credits_bground_hover.png') top center no-repeat;
        color: #fff;
        text-shadow: 0px 0px 10px #fff;
    }

.credits_footer {
    color: #666;
    font-size: 10px;
    padding:6px;
}

.credits_footer span {
    margin:0px 4px 0px 0px;
}

.div_kickstarter_dialog .credits_bground {
    height: 588px;
    width: 100%;
    background: url('coui://ui/main/game/start/img/img_ks_background.png') top center no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    -webkit-animation: fadeout;
    -webkit-transition: .10s ease-out;
    font-size: 16px;
    color: #00b3ff;
    text-shadow: 0px 0px 10px #00b3ff;
    position: absolute;
}

.group_kickstarters {
    width: 130%;
    margin:0px 0px 10px 0px;
}

.group_category {
    text-transform: uppercase;
    font-size: 14px;
    color: #00E700;
}

.group_names {
    font-family: "Armata Regular";
    margin: 0px;
    font-size: 12px;
    line-height: 1.5;
}
