.body_panel {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

body-dock {
    display: block;
}

/* UTILITY */
.receiveMouse {
    pointer-events: all;
}

.ignoreMouse {
    pointer-events: none;
}

/* CELESTIAL VIEW   */
.celestial_control_cont {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
}

.div_celestial_control_bar {
    width: 855px;
    min-width: inherit;
    max-width: inherit;
}

.div_celestial_control_bar_cont {
}


.div_celestial_control_bar_message_cont {
}

.div_celestial_control_bar_message_icon {
    text-align: center;
    margin-top: 9px;
}

.div_celestial_control_bar_message {
    width: 800px;
    margin: 0px auto;
    text-align: center;
}

    .div_celestial_control_bar_message .primary_msg {
        text-transform: uppercase;
        font-size: 26px;
    }

    .div_celestial_control_bar_message .secondary_msg {
        font-family: "Sansation Light";
        text-transform: uppercase;
        font-size: 16px;
        margin: 4px 0px;
    }


.div_celestial_submit_btn_cont {
    float: right;
    margin: -47px 0px 0px 0px;
}

.div_celestial_control_bar_button_cont {
    display: inline-block;
}

.div_celestial_control_bar_button_cont_active {
    background-color: #00FFFF;
}

.div_celestial_control_bar_button {
    margin-top: 9px;
}

.div_celestial_control_bar_button_cont:hover {
    background-color: white;
    color: black;
}

.div_celestial_confirmation_bar_cont {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
}

.div_celestial_confirmation_bar_button {
    width: 97px;
    height: 38px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    border: 1px solid grey;
}

    .div_celestial_confirmation_bar_button:hover {
        background-color: white;
        color: black;
    }

