.body_panel {

    position: absolute;
    bottom: 0;
    left: 0;
    
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

body-dock {
    width: 210px;
    box-shadow:0px 0px 20px #000;
}

.organizer {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

/* UTILITY */
.receiveMouse {
    pointer-events: all;
}

.ignoreMouse {
    pointer-events: none;
}

/*----- SELECTION BAR
-----------------------------------------------------------------*/

.div_current_selection_cont {
    height: auto;
    width: auto;
}

.div_unit_selection {
    height: 64px;
    width: 64px;
    border: 1px solid rgba(0,179,255,1);
    border-radius: 0px;
    margin: 6px 6px 0px 0px;
    position: relative;
    background: rgba(0, 20, 30, 1);
    box-shadow: inset 0px 0px 8px rgba(0,179,255,.5);
}

    .div_unit_selection:hover {
        border: 1px solid rgba(0,179,255,1);
        background: rgba(0,179,255,1);
    }

    .div_unit_selection:active {
        border: 1px solid rgba(0,255,255,1);
        background: rgba(0,255,255,1);
    }

.img_selected_unit {
    height: 60px;
    width: 60px;
    margin: 0px;
}

.span_selection_count {
    padding: 2px;
    font-size: 12px;
    z-index: 1;
    color: #00b3ff;
    background: #001E2B;
    border: 1px solid #00b3ff;
    position: absolute;
    bottom: 4px;
    left: 4px;
    font-weight: bold;
    text-shadow: 0px 0px 1px #000;
    box-shadow:0px 0px 20px #00b3ff;
}

.div_unit_selection .close {
    height: 20px;
    width: 20px;
    float: right;
    margin: 0px 0px 0px 0px;
    background: url(coui://ui/main/shared/img/window_controls/btn_close_10.png) 50% 50% no-repeat rgba(0,0,0,1);
    background-size:50%;
    opacity: 1;
    position: absolute;
    right: -1px;
    top: -1px;
    border: 1px solid rgba(0,179,255,1);
}

    .div_unit_selection .close:hover {
        background-color: rgba(0,179,255,1);
        border-color: rgba(0,0,0,1);

    }

    .div_unit_selection .close:active {
        background-color: rgba(0,0,0,1);
    }


