.body_panel {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

/* UTILITY */
.receiveMouse {
    pointer-events: all;
}

.ignoreMouse {
    pointer-events: none;
}


/* BUILD BAR UNIT HOVER DETAIL */

.wrapper_build_bar_unit_hover_detail {
    height: 80px;
    width: 548px;
    overflow:hidden;
}


.div_build_bar_unit_hover_detail {
    height: auto;
    width: 548px;
    border-image:url(img/build_bar/img_unit_detail_hover_bground.png) 80 80 0 80 fill;
    border-width:80px 80px 0px 80px;
    display: flex;
}

    .div_build_bar_unit_hover_detail .contents {
        width: 100%;
        margin: -80px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        text-shadow:0px 0px 20px rgba(145,251,255,.5);
        color:#91FBFF;
    }

        .div_build_bar_unit_hover_detail .contents .title {
            height: 20px;
            border-image: url(img/build_bar/img_unit_detail_hover_title.png) 20 20 0 20 fill;
            border-width: 20px 20px 0 20px;
            margin: 0px auto 0px -20px;
            font-family:'Sansation Bold TTF', 'Armata Regular', Verdana;
            text-transform: none;
            text-shadow: 0px 0px 20px rgba(145,251,255,.5);
        }

            .div_build_bar_unit_hover_detail .contents .title .content {
                height: 20px;
                margin: -16px 0px 0px 0px;
                font-size: 16px;
                padding: 0px 10px 0px 27px;
            }

        .div_build_bar_unit_hover_detail .contents .detail {
            height: 60px;
            width: 548px;
            padding: 0px 0px 0px 0px;
            border-image: url(img/build_bar/img_unit_detail_hover_body.png) 60 60 0 60 fill;
            border-width: 60px 60px 0 60px;
            margin: 0px -80px;
        }

            .div_build_bar_unit_hover_detail .contents .detail .content {
                display: flex;
                margin: -56px 0px 0px 0px;
                padding: 0px 0px 0px 0px;
                text-shadow: 0px 0px 20px black;
            }


                .div_build_bar_unit_hover_detail .contents .detail .content .strat_icon {
                    height: 52px;
                    width: 52px;
                    margin: -12px -4px 0px -4px;
                }

            .div_build_bar_unit_hover_detail .contents .detail .description {
                height: 60px;
                padding: 0px 0px 0px 3px;
            }

                .div_build_bar_unit_hover_detail .contents .detail .description .text {
                    height: 34px;
                    width: 380px;
                    padding:0px 10px 0px 0px;
                    white-space: normal;
                    color: #00ccff;
                    -webkit-animation: none;
                }

                .div_build_bar_unit_hover_detail .contents .detail .description .resources {
                    display:inline-flex;
                }

                .div_build_bar_unit_hover_detail .contents .detail .description .resources .stat {
                    margin:0px 12px 0px 0px;
                }

                .div_build_bar_unit_hover_detail .contents .detail .description .resources .stat.metal {
                    background: url(img/status_bar/icon-status-metal.png) center left no-repeat;
                    background-size: 12px auto;
                    padding-left: 14px;
                }