/*----- CREATE GAME UI
-----------------------------------------------------------------*/

.radio_option_desc
{
  width:140px;
  margin:0 0 0 24px;
  font-size:.80em;
  color:#999;
  display:block;
}

.div_army_cont
{
  border:1px solid rgba(90,90,90,.3);
  margin:0;
}

.div_army_title
{
  font-size:28px;
  margin:10px;
}

.txt_army_title
{
  display:inline-block;
  margin:-10px 0 0;
}

.tbl_army_cont
{
  margin:0 80px 10px 80px;
}

.td_userlist
{
  width:420px;
}

.div_user_entry
{
  height:40px;
  margin:0 0 4px;
}

.tbl_user_entry
{
  width:100%;
  border:1px solid #fff;
}

.td_usertile
{
  width:40px;
}

.div_usertile
{
  height:40px;
  width:40px;
  background:url(coui://ui/main/shared/img/img_user_profile_pic.png) no-repeat top left #333;
  background-size: 40px 40px;
}

.td_username
{
  width:100%;
  border:1px solid #fff;
  padding:0 0 0 8px;
}

.input_econ_default
{
  width:40px;
}

.div_game_setup_cont
{
  height:350px;
  width:200px;
}

.div_chat_cont
{
  width:200px;
  padding:0px 0px 0px 20px;
}

#lobby_chat
{
    height: 100%;
    border: 0px;
}    
.div_chat_feed
{
    height: 245px;
    width: 100%;
    border: 1px solid #666;
    overflow: auto;
}
.input_chat_text
{
    width: 100%;
    margin: 8px 0px 0px 0px;
}
.div_player_list
{
    height: 273px;
    width: 100%;
    border: 1px solid #666;
    overflow: auto;
}


.div_user_join
{
  border:1px solid rgba(0,255,255,1);
}

.div_user_join a
{
  height:100%;
  width:100%;
  color:#fff;
}

.div_user_join a:hover
{
  height:100%;
  width:100%;
  background:rgba(0,255,255,.5);
  color:#fff;
}

.div_join_username
{
  font-size:20px;
  padding:6px;
}

.div_primary_color
{
  height:30px;
  width:60px;
  background:red;
  font-size:24px;
  border:1px solid #fff;
  margin:0 10px -4px 0;
  display:inline-block;
}

.div_secondary_color
{
  height:100%;
  width:10px;
  background:#FFF;
  display:block;
  margin:0 0 0 10px;
}

.div_army_controls
{
  height:40px;
  width:180px;
  display:block;
  margin:0 0 0 10px;
}

.div_army_settings
{
  width:100%;
}

.div_economy_settings_cont
{
  margin:10px 10px 30px 80px;
}

.btn_std
{
  font-size:.8em;
}

.btn_addteam
{
  width:250px;
}

.btn_join,.btn_ai
{
  padding:10px 20px;
}

.div_color_primary_color_selector_cont
{
    height: auto;
    width: auto;
    margin: 0px 20px 20px 0px;
}
.div_color_item
{
    height: 30px;
    width: 55px;
    border: 1px solid #fff;
    margin: 0px 4px 4px 0px;
}
.div_primary_color_preview
{
    height: 60px;
    width: 120px;
    background: #F00;
    font-size: 24px;
    border: 1px solid #FFF;
    margin: 0 10px 0px 0;
    display: inline-block;
}
.div_secondary_color_preview
{
    height: 58px;
    width: 15px;
    background: #FFF;
    margin: 0 0 0 15px;        
    display: block;
}

.btn_ready
{
    width:250px;
}